<footer class="footer border-top">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-solid fa-globe"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>


        </div>
        <div class="apnahotel"> &copy; Apnahotel Private lmt.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>