<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass fs-1"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link explore" href="/listings">Explore</a>

      </div>
      <form class="search-bar" action="/search" method="post">
        <input name="query"  type="search" placeholder="Search destination" class="form-control search-input"/><br>
    
        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      </form>       
    

      <div class="navbar-nav ms-auto">
        <a class="nav-link airbnbyourhome" href="/listings/new">Airbnb your home</a>

        <% if(currUser === undefined){%>
          <div class="userbar">
            <div><i class="fa-solid fa-bars"></i></div>
            <div><i class="fa-solid fa-user"></i>
            </div>
          </div>
            <div class="userInfo">
              <a class="nav-link ssss" href="/signup" target="_self"> sign Up</a>
              <a class="nav-link ssss" href="/login">Log in</a>
            </div>

        <% }%> <% if(currUser){%>
          <div class="userbar">
            <div><i class="fa-solid fa-bars"></i></div>

            <div class="usernameAfterLOgin" > <p><%=currUser.username[0].toUpperCase()%></p>
            </div>
          </div>
          <div class="userInfo">
            <p> <b> hii, <%=currUser.username%></b></p> <br>
            <p> <%=currUser.email%></p>
            <hr>
            <a class="nav-link airbnbyourhome" href="/listings/new">Airbnb your home</a>
            <hr>
            <a class="nav-link ssss" href="/help">help</a>
            <a class="nav-link ssss" href="/help">contact</a>

            <a class="nav-link ssss" href="/logout">Log out</a>
          </div>

        <% }%>
      </div>

      </div>
   

    </div>
  </div>
</nav>


<script>
  let userbar = document.querySelector(".userbar");
  userbar.addEventListener("click", ()=> {
    let userInfo =  document.querySelector(".userInfo");
    userInfo.classList.toggle("userInfoo");
  });

  let navbarTogglerBtn  = document.querySelector(".navbar-toggler");
  navbarTogglerBtn.addEventListener("click", ()=> {
    let navbar =  document.querySelector(".navbar");
    navbar.classList.toggle("navbarrrrrr")
  })
</script>
