/* footer*/
.f-info-links a{
  text-decoration: none ;
  color: black;
  font-size: 1.2rem;
}


.f-info-links a:hover{
    text-decoration: underline ;
  }

  .f-info{
    height: 6rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
  }

  .f-info-socials,
   .f-info-links{
    width: 100%;

  }
  .f-info-socials a{
    font-size: 1.2rem;
    margin: 0.5rem;
    color: black;

  }

  .apnahotel{
   font-size: 1.2rem;
   color: #222222;
   font-weight: 600;
   text-decoration: none;
  }
